@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  background: rgb(254 240 138);
}
@media (min-width: 768px) {
  .layout {
    display: grid;
    grid-template-areas:
      "nav nav"
      "sidenav main";
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 15rem 1fr;
  }

  .nav {
    grid-area: nav;
  }
  .sidenav {
    grid-area: sidenav;
    min-height: 100vh;
  }
  .main {
    grid-area: main;
    background: rgb(254 240 138);
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  .layout {
    display: grid;
    grid-template-areas:
      "nav"
      "sidenav"
      "main";
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;
  }

  .nav {
    grid-area: nav;
    min-width: 100vw;
  }
  .sidenav {
    grid-area: sidenav;
    min-height: 100vh;
  }
  .main {
    grid-area: main;
    background: rgb(254 240 138);
    min-height: 100vh;
    min-width: 100vw;
  }
}
